<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>KTÜ Mezunları</title>
    <meta name="description" content="Karadeniz Teknik Üniversitesi Mezunları">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename="img/logo1.png")}}">
    <!-- Place favicon.ico in the root directory -->


    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/owl.carousel.min.css")}}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/magnific-popup.css")}}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/font-awesome.min.css")}}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/themify-icons.css")}}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/nice-select.css")}}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/flaticon.css")}}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/gijgo.css")}}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/animate.css")}}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/slicknav.css")}}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css")}}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <style>
			.ui-datepicker-calendar {
				 display: none;
			}
			.ui-datepicker-month {
				 display: none;
			}
			.ui-datepicker-next,.ui-datepicker-prev {
				display:none;
			}
			.alignleft {
				float: left;
			}
			.alignright {
				float: right;
			}
    </style>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
 
<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				
			<div class="section-top-border">


				<div class="progress-table-wrap">
					<div class="progress-table">
						<div class="table-head">
							<div class="serial"># Çalışan</div>
							<div class="serial">Firma No</div>
							<div class="serial">Firma İsim</div>
						</div>


			{% for i in range(0, len) %} 

					<div class="table-row" >
					
						<div class="serial">{{data[i][0]}}</div>
						<div class="serial">{{data[i][1]}}</div>
						<div class="serial">{{data[i][2]}}</div>
						
					</div>

			{% endfor %}


					</div>
					</div>
					</div>
					</div>
					
<div class="section-top-border">
<br><br>
<form action="/anket_atama">
Mezuniyet yılı şu yıllar arasında olan mezunları listele;
  <input type="text" name="low_year" value="1990">
  <input type="text" name="high_year" value="2000">
  <input type="submit">
</form>
</div>

<div class="section-top-border">
Anket atanan mezunar;
			{% for i in range(0, anket_len) %} 
					
						<div class="serial">{{ anket_data[i][0] }}</div>
						
			{% endfor %}

</div>


<div class="section-top-border">

Ortalama işe girme süresi; {{ ortalama }}

</div>

				<div class="progress-table-wrap">
											En çok ilan vermiş mezunlar;
					<div class="progress-table">
						<div class="table-head">
						
							<div class="serial">İlan Sayısı</div>
							<div class="serial">İsim</div>
							<div class="serial">Soyad</div>
							<div class="serial">Öğrenci Numarası</div>
						</div>


			{% for i in range(0, en_cok_ilan_len) %} 

					<div class="table-row" >
					
						<div class="serial">{{en_cok_ilan[i][3]}}</div>
						<div class="serial">{{en_cok_ilan[i][0]}}</div>
						<div class="serial">{{en_cok_ilan[i][1]}}</div>
						<div class="serial">{{en_cok_ilan[i][2]}}</div>
					</div>

			{% endfor %}


					</div>
					</div>


<br><br><br>

				<div class="progress-table-wrap">
											En çok çalışılan alan;
					<div class="progress-table">
						<div class="table-head">
						
							<div class="serial">Alan Adı</div>
							<div class="serial">Çalışan Sayısı</div>
						</div>


			{% for i in range(0, calisma_len) %} 

					<div class="table-row" >
					
						<div class="serial">{{calisma_alani[i][0]}}</div>
						<div class="serial">{{calisma_alani[i][1]}}</div>
					</div>

			{% endfor %}


					</div>
					</div>




					<br><br> Firma ekleme;
						<form name="firma_ekle" id="firma_ekle" action="/firma_ekle" method="POST">
							<div class="mt-10">
								<input type="text" id="iletisim" name="iletisim" placeholder="İletisim"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'İletisim'" 
									class="single-input">
							</div>
							<div class="mt-10">
								<input type="text" id="adres" name="adres" placeholder="Adres"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adres'" 
									class="single-input">
							</div>
							<div class="mt-10">
								<input type="text" id="e_posta" name="e_posta" placeholder="E-posta adresi"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-posta adresi'" 
									class="single-input">
							</div>
							<div class="mt-10">
								<input type="text" id="ticari_sicil" name="ticari_sicil" placeholder="Ticari Sicil No"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ticari Sicil No'"
									class="single-input">
							</div>
							
							<div class="mt-10">
								<input type="text" id="unvan" name="unvan" placeholder="Şirketin Ünvanı"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Şirketin Ünvanı'"
									class="single-input">
							</div>
							<div class="mt-10">
								<input type="text" id="sorumlu_kisi" name="sorumlu_kisi" placeholder="Sorumlu Kişi"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Sorumlu Kişi'"
									class="single-input">
							</div>
							
			
							<button onClick="document.forms['firma_ekle'].submit();" class="genric-btn primary circle">Firma Ekle</button>
						</form>




    <!-- JS here -->
    <script src="{{ url_for('static', filename="js/vendor/modernizr-3.5.0.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/vendor/jquery-1.12.4.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/popper.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/bootstrap.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/owl.carousel.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/isotope.pkgd.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/ajax-form.js")}}"></script>
    <script src="{{ url_for('static', filename="js/waypoints.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/jquery.counterup.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/imagesloaded.pkgd.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/scrollIt.js")}}"></script>
    <script src="{{ url_for('static', filename="js/jquery.scrollUp.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/wow.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/nice-select.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/jquery.slicknav.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/jquery.magnific-popup.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/plugins.js")}}"></script>
    <script src="{{ url_for('static', filename="js/gijgo.min.js")}}"></script>

    <!--contact js-->
    <script src="{{ url_for('static', filename="js/contact.js")}}"></script>
    <script src="{{ url_for('static', filename="js/jquery.ajaxchimp.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/jquery.form.js")}}"></script>
    <script src="{{ url_for('static', filename="js/jquery.validate.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/mail-script.js")}}"></script>

    <script src="{{ url_for('static', filename="js/main.js")}}"></script>
    <script>
    function myFunction(pencere) {
					$('div[name = "'+pencere+'"]').toggle('ease');

		}

    </script>
</body>

</html>
